<header class="header">
  <a href="home" class="logo"><img src="../../assets/img/icon.png"></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu nav navbar-nav navbar-right">
      <li><a class="page-scroll" href="home">Home</a></li>
      <li><a class="page-scroll" href="renditions">My Renditions</a></li>
      <li><a class="page-scroll" href="songs">All Songs</a></li>
      <li><a class="page-scroll" href="contact">Contact</a></li>
  </ul>
</header>