<div class="footer">
    <div class="social">
        <a>Follow us on</a><br>
        <a href={{youtubeChannel}} target="_blank"><img src="../../assets/img/youtube-logo.png"></a>
        <a href={{instagram}} target="_blank"><img src="../../assets/img/insta-logo.png"></a>
        <a href={{facebook}} target="_blank"><img src="../../assets/img/fb-logo.png"></a>
    </div>
    <div class="info">
        <p>&copy;Copyright <b>rytKey</b>. All Rights Reserved</p>
        <a href={{portfolio}} target="_blank" class="me">Designed by <b>Chandra Athithan</b></a>
    </div>
</div>