<div class="container">
    <div class="row">
        <h2 class="section- text-center">My Renditions</h2>
        <hr class="light">
        <div id="ibacordotcom-content">
            <div class="ibacordotcom-unit ibacordotcom-vid-kenca">
                <div class="ibacordotcom_vid_play"></div>
            </div>
            <div class="ibacordotcom-unit ibacordotcom-vid-katuhu">
                <div class="ibacordotcom_youtube_channels"></div>
            </div>
        </div>
    </div>
</div>