<div class="container">
    <div style="text-align:center; margin-top: 15px;">
      <h2>Contact Us</h2>
    </div>
    <div class="row">
      <div class="column">
        <img src="../../assets/img/background-piano.jpg" style="width:100%">
      </div>
      <div class="column">
        <div class="card m-3">
          <div class="card-body">
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-row">
                      <div class="form-group col-5">
                          <label>Name</label>
                          <input type="text" name="firstName" class="form-control" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
                          <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                              <div *ngIf="firstName.errors">First Name is required</div>
                          </div>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col">
                          <label>Email</label>
                          <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                              <div *ngIf="email.errors">Email is required</div>
                              <div *ngIf="email.errors">Email must be a valid email address</div>
                          </div>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col">
                          <label>Message</label>
                          <input type="text" name="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                              <div *ngIf="password.errors">Message must be at least 6 characters</div>
                          </div>
                      </div>
                  </div>
                  <div class="text-center" id="button">
                      <button class="btn btn-primary mr-1">Send Message</button>
                  </div>
              </form>
          </div>
      </div>
      </div>
    </div>
  </div>
<div class="footer">
    <div class="social">
        <a>Follow us on</a><br>
        <a href={{youtubeChannel}} target="_blank"><img class="icons" src="../../assets/img/youtube-logo.png"></a>
        <a href={{instagram}} target="_blank"><img class="icons" src="../../assets/img/insta-logo.png"></a>
        <a href={{facebook}} target="_blank"><img class="icons" src="../../assets/img/fb-logo.png"></a>
    </div>
    <div class="info">
        <br><p>&copy;Copyright <b>rytKey</b>. All Rights Reserved</p>
        <a href={{portfolio}} target="_blank" class="me">Designed by <b>Chandra Athithan</b></a>
    </div>
</div>