<div class="container">
    <nav class="navbar">
        <table class="table">
            <caption>All Songs</caption>
            <thead>
                <tr>
                    <th class="search" scope="col">Search by Name:</th>
                    <th class="search" scope="col">Search by Movie:</th>
                    <th class="search" scope="col">Search by Music Director:</th>
                    <th class="search" scope="col">Search by Singer:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="name" scope="row"><input class="form-control" type="text" name="name" [(ngModel)] = "name" (ngModelChange)= "searchSong()"
                        placeholder="Enter any song name"></td>
                    <td data-label="movie"><input class="form-control" type="text" name="movie" [(ngModel)] = "movie" (ngModelChange)= "searchMovie()"
                        placeholder="Enter any movie name"></td>
                    <td data-label="musicDirector"><input class="form-control" type="text" name="musicDirector" [(ngModel)] = "musicDirector" (ngModelChange)= "searchMD()"
                        placeholder="Enter Music Director's name"></td>
                    <td data-label="singer"><input class="form-control" type="text" name="singer" [(ngModel)] = "singer" (ngModelChange)= "searchSinger()"
                        placeholder="Enter any Singer name"></td>
                </tr>
            </tbody>
        </table>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th (click)="sort('name')">Song&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('movie')">Movie&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('musicDirector')">Music Director&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('singer')">Singer&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('genre')">Genre&nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('year')">Year&nbsp;<i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let songData of songs | orderBy: key : reverse | paginate: {itemsPerPage : 10, currentPage:p};">
                <td data-label="name" scope="row" class="songName"><a href="notes/{{songData.name}}">{{songData.name}}</a></td>
                <td data-label="movie">{{songData.movie}}</td>
                <td data-label="musicDirector">{{songData.musicDirector}}</td>
                <td data-label="singer">{{songData.singer}}</td>
                <td data-label="genre">{{songData.genre}}</td>
                <td data-label="year">{{songData.year}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="custom-pagination" (pageChange)="p = $event"></pagination-controls>
</div>