/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/2123.jpg);
}
@media screen and (max-width: 479px) {
    body{
        background-size: cover;
    }
}
@media screen and (min-width: 1920px) {
    body{
        background-size: cover;
    }
}
@media screen and (max-width: 1080px) {
    body{
        background-size: cover;
    }
}