#logo {
    width: 20%;
    height: 20%;
}
.author {
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}
span {
    font-size: xx-large;
}
.ryt {
    color: white;
}
.key {
    color: red;
}