<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="../../assets/img/logo-without-bg.png" class="img-responsive" id="logo" alt="logo">
            <a href="home"><span class="ryt">ryt</span><span class="key">Key</span></a><br><br>
            <h3><a class="author" href={{portfolio}} target="_blank">Chandra Athithan</a></h3>
            <ul class="social-links text-center">
                <li><a href={{youtubeChannel}} target="_blank">
                    <i class="fa fa-youtube-play fa-lg"></i></a></li>
                <li><a href={{instagram}} target="_blank">
                    <i class="fa fa-instagram fa-lg"></i></a></li>
                <li><a href={{facebook}} target="_blank">
                    <i class="fa fa-facebook fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</header>